a{
    text-decoration: none;
}
a:visited{
    color: initial;
}
a:hover{
    border-bottom: 1.5px solid lightgray;
    padding-bottom: 4px;
    cursor: pointer;
}
ul{
    list-style: none;
    float: right;
}
ul li{
    text-decoration: none;
    display: inline;
    margin-right: 20px;   
}

 .home-icon, .book-icon{
    font-size: 16px;
    vertical-align: middle;
    color: #133770;
    cursor: pointer;
}
.home-select{
    padding-bottom: 3%;
    border-bottom: 1px solid #eb7222;
}
.body-div{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
img, .profile-icon{
    width: 300px;
    border-radius: 50%;
    background-color: white;   
    margin-left: 10%;
    
}
.username{
    font-size: 30px;
    text-align: center;
}

.description-div{
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.people{
    margin-left: .5%;
    font-size: 16px;
    padding-bottom: 5%;
}
.people-icon, .person-icon, .business-icon{
    font-size: 24px;
    vertical-align: middle;
}
.small-txt{
    font-size: 15px;
}
.nada{
    margin-top: 30%;
}
.nada img{
    width: 50%;
    margin-left: 25%;
}
.nada p{
    text-align: center;
    font-size: 24px;
    color: #133770 ;
}
.btn-success{
    background-color: #133770;
    border-color: #133770;
    color: white;
    margin-left: 35%;
    margin-top: 10%;
}
.btn-success a:hover{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px){
    .small-txt{
        font-size: 18px;
    }
    .body-div{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .profile-icon{
        font-size: 300px;
        margin-left: -17%;
        background: white;
        border-radius: 50%;
        border-left: 1.5px solid lightgray;
    }

    .username{
        font-size: 50px;
        text-align: left;
        margin-left: -70%;
        margin-top: 5%;
    }
    .description-div{
        font-size: 24px;
        margin-left: 15%;
        margin-top: -13%;
        margin-bottom: 2%;
    }
    .people{
        margin-left: 15%;
        padding-bottom: 15%;

    }

    .btn-success{
        background-color: #133770;
        border-color: #133770;
        color: white;
        margin-left: 45%;
        margin-top: 5%;
    }
    .btn-success a:hover{
        text-decoration: none;
        color: white;
        color: #193c73;
    
    }
    .nada{
        margin-top: 15%;
    }
    
    
}